@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

.header-page{
  padding-left: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: aqua !important;
}

.header-page img{
  width: 15%;
  height: 10%;
}
header{
  background-color: black;
}
header ul li {
  text-align: right;
  font-size: small;
  padding-bottom:1% ;
}


.active{
  color: white;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  border-radius:35% ;
  margin-right: 5%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
