@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

.header-page {
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: aqua !important;
}

.header-page img {
    width: 15%;
    height: 10%;
}

header {
    background-color: black;
}


.navbar>ul {
    display: flex;
    color: white;
    padding-bottom: 1%;

}

.navbar>ul>li {
    padding-left: 4%;
    list-style: none;

}

.navbar>ul>li>a {
    color: white;
    text-decoration: none;
}

.init>li>a {
    margin-left: 650px;
    font-size: small;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-right: 5%;
    border-radius: 10%;
    color: black !important;
    text-decoration: none;
    background-color: white;
}

.init {
    list-style: none;
}



.active {
    color: white;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    border-radius: 35%;
    margin-right: 5%;
    padding-top: 8%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 8%;
}


.submenu>li>a {
    color: white;
    display: none;

}

.submenu>li {
    list-style: none;
}


/*fin nav*/

/**/
#sec-titulo {
    margin-left: 4%;
}

/*contenido pagina*/
#sec-contenido {
    display: flex;
    color: white;
}

#sec-contenido>a {
    margin-left: 4%;
    color: white;
}

.votantes {
    display: flex;
    margin-left: 20%;
}

.ainfo {
    background-color: rgb(185, 185, 183);
    display: grid;
    place-items: center;
    height: 50%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-radius: 20%;
    margin-top: 3%;
}

.mesasc {
    background-color: blue;
    display: grid;
    place-items: center;
    margin-right: 10%;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20%;
    height: 100px;
}

.mesasc>svg {
    width: 100px !important;
    height: 150px;
}

.elec {
    background-color: red;
    display: grid;
    place-items: center;
    margin-right: 10%;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20%;
    height: 100px;
}

.elec>svg {
    width: 100px !important;
    height: 150px;
}

.part {
    background-color: purple;
    display: grid;
    place-items: center;

    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20%;
    height: 100px;
}

.part>svg {
    width: 100px !important;
    height: 150px;
}

/* porcentajes*/
.content-2{

    display: flex;
}

.grid {
    width: 200%;
    background-color: rgb(187, 186, 184);
    margin-left: 4%;
    margin-top: 20%;
    padding-bottom: 1%;
}

.bar {
    width: var(--bar-value);
    height: 10px;
    margin-bottom: 10px;
    background-color: rgb(57, 106, 241);
    transition: width 0.5s;
}

.tpolitico {
    display: flex;
}
.tpolitico > p {
    width: 50%;
    margin-left: 1%;
}

.ppolitico{
    width: 50%;
    padding-left: 30%;
}

.pais{
    
    margin-left: 25%;
}